alabaster @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/alabaster/alabaster-0.7.12
appdirs @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/appdirs/appdirs-1.4.4
asn1crypto @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/asn1crypto/asn1crypto-1.5.1
atomicwrites @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/atomicwrites/atomicwrites-1.4.1
attrs @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/attrs/attrs-22.1.0
Babel @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/Babel/Babel-2.11.0
backports.entry-points-selectable @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/backportsentrypointsselectable/backports.entry_points_selectable-1.2.0
backports.functools-lru-cache @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/backportsfunctools_lru_cache/backports.functools_lru_cache-1.6.4
bcrypt @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/bcrypt/bcrypt-4.0.1
bitstring @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/bitstring/bitstring-3.1.9
blist @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/blist/blist-1.3.6
CacheControl @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/CacheControl/CacheControl-0.12.11
cachy @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/cachy/cachy-0.3.0
certifi @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/certifi/certifi-2022.9.24
cffi @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/cffi/cffi-1.15.1
chardet @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/chardet/chardet-5.0.0
charset-normalizer @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/charsetnormalizer/charset-normalizer-2.1.1
cleo @ file:///sw/eb/sources/p/Python/extensions/cleo-1.0.0a5-py3-none-any.whl
click @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/click/click-8.1.3
clikit @ file:///sw/eb/sources/p/Python/extensions/clikit-0.6.2-py2.py3-none-any.whl
colorama @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/colorama/colorama-0.4.6
crashtest @ file:///sw/eb/sources/p/Python/extensions/crashtest-0.3.1-py3-none-any.whl
cryptography @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/cryptography/cryptography-38.0.3
Cython @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/Cython/Cython-0.29.32
decorator @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/decorator/decorator-5.1.1
decord==0.6.0
distlib @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/distlib/distlib-0.3.6
docopt @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/docopt/docopt-0.6.2
docutils @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/docutils/docutils-0.19
dulwich @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/dulwich/dulwich-0.20.50
ecdsa @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/ecdsa/ecdsa-0.18.0
editables @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/editables/editables-0.3
exceptiongroup @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/exceptiongroup/exceptiongroup-1.0.1
filelock @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/filelock/filelock-3.8.0
flit @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/flit/flit-3.8.0
flit_core @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/flit_core/flit_core-3.8.0
flit_scm @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/flit_scm/flit_scm-1.7.0
fsspec @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/fsspec/fsspec-2022.11.0
future @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/future/future-0.18.2
glob2 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/glob2/glob2-0.7
hatch-fancy-pypi-readme @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/hatch_fancy_pypi_readme/hatch_fancy_pypi_readme-22.8.0
hatch-vcs @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/hatch_vcs/hatch_vcs-0.2.0
hatchling @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/hatchling/hatchling-1.11.1
html5lib @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/html5lib/html5lib-1.1
idna @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/idna/idna-3.4
imagesize @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/imagesize/imagesize-1.4.1
importlib-metadata @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/importlib_metadata/importlib_metadata-5.0.0
importlib-resources @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/importlib_resources/importlib_resources-5.10.0
iniconfig @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/iniconfig/iniconfig-1.1.1
intervaltree @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/intervaltree/intervaltree-3.1.0
intreehooks @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/intreehooks/intreehooks-1.0
iopath==0.1.10
ipaddress @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/ipaddress/ipaddress-1.0.23
jaraco.classes @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/jaracoclasses/jaraco.classes-3.2.3
jeepney @ file:///sw/eb/sources/p/Python/extensions/jeepney-0.8.0-py3-none-any.whl
Jinja2 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/Jinja2/Jinja2-3.1.2
joblib @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/joblib/joblib-1.2.0
jsonschema @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/jsonschema/jsonschema-4.17.0
keyring @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/keyring/keyring-23.11.0
keyrings.alt @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/keyringsalt/keyrings.alt-4.2.0
liac-arff @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/liacarff/liac-arff-2.5.0
lockfile @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/lockfile/lockfile-0.12.2
MarkupSafe @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/MarkupSafe/MarkupSafe-2.1.1
mock @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/mock/mock-4.0.3
more-itertools @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/moreitertools/more-itertools-9.0.0
msgpack @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/msgpack/msgpack-1.0.4
netaddr @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/netaddr/netaddr-0.8.0
netifaces @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/netifaces/netifaces-0.11.0
numpy==2.2.6
packaging @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/packaging/packaging-21.3
paramiko @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/paramiko/paramiko-2.12.0
pastel @ file:///sw/eb/sources/p/Python/extensions/pastel-0.2.1-py2.py3-none-any.whl
pathlib2 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pathlib2/pathlib2-2.3.7.post1
pathspec @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pathspec/pathspec-0.10.1
pbr @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pbr/pbr-5.11.0
pexpect @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pexpect/pexpect-4.8.0
pkginfo @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pkginfo/pkginfo-1.8.3
platformdirs @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/platformdirs/platformdirs-2.5.3
pluggy @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pluggy/pluggy-1.0.0
poetry @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/poetry/poetry-1.2.2
poetry-core @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/poetrycore/poetry-core-1.3.2
poetry-plugin-export @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/poetry_plugin_export/poetry_plugin_export-1.2.0
portalocker==3.2.0
psutil @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/psutil/psutil-5.9.4
ptyprocess @ file:///sw/eb/sources/p/Python/extensions/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/py/py-1.11.0
py-expression-eval @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/py_expression_eval/py_expression_eval-0.3.14
pyasn1 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pyasn1/pyasn1-0.4.8
pycparser @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pycparser/pycparser-2.21
pycrypto @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pycrypto/pycrypto-2.6.1
Pygments @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/Pygments/Pygments-2.13.0
pylev @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pylev/pylev-1.4.0
PyNaCl @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/PyNaCl/PyNaCl-1.5.0
pyparsing @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pyparsing/pyparsing-3.0.9
pyrsistent @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pyrsistent/pyrsistent-0.19.2
pytest @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pytest/pytest-7.2.0
python-dateutil @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pythondateutil/python-dateutil-2.8.2
pytoml @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pytoml/pytoml-0.1.21
pytz @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/pytz/pytz-2022.6
regex @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/regex/regex-2022.10.31
requests @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/requests/requests-2.28.1
requests-toolbelt @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/requeststoolbelt/requests-toolbelt-0.9.1
scandir @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/scandir/scandir-1.10.0
SecretStorage @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/SecretStorage/SecretStorage-3.3.3
semantic-version @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/semantic_version/semantic_version-2.10.0
setuptools-rust @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/setuptoolsrust/setuptools-rust-1.5.2
setuptools-scm @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/setuptools_scm/setuptools_scm-7.0.5
shellingham @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/shellingham/shellingham-1.5.0
simplegeneric @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/simplegeneric/simplegeneric-0.8.1
simplejson @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/simplejson/simplejson-3.17.6
six @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/six/six-1.16.0
snowballstemmer @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/snowballstemmer/snowballstemmer-2.2.0
sortedcontainers @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sortedcontainers/sortedcontainers-2.4.0
Sphinx @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/Sphinx/Sphinx-5.3.0
sphinx-bootstrap-theme @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxbootstraptheme/sphinx-bootstrap-theme-0.8.1
sphinxcontrib-applehelp @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribapplehelp/sphinxcontrib-applehelp-1.0.2
sphinxcontrib-devhelp @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribdevhelp/sphinxcontrib-devhelp-1.0.2
sphinxcontrib-htmlhelp @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribhtmlhelp/sphinxcontrib-htmlhelp-2.0.0
sphinxcontrib-jsmath @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribjsmath/sphinxcontrib-jsmath-1.0.1
sphinxcontrib-qthelp @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribqthelp/sphinxcontrib-qthelp-1.0.3
sphinxcontrib-serializinghtml @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribserializinghtml/sphinxcontrib-serializinghtml-1.1.5
sphinxcontrib-websupport @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/sphinxcontribwebsupport/sphinxcontrib-websupport-1.2.4
tabulate @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/tabulate/tabulate-0.9.0
threadpoolctl @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/threadpoolctl/threadpoolctl-3.1.0
toml @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/toml/toml-0.10.2
tomli @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/tomli/tomli-2.0.1
tomli_w @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/tomli_w/tomli_w-1.0.0
tomlkit @ file:///sw/eb/sources/p/Python/extensions/tomlkit-0.11.6-py3-none-any.whl
tqdm==4.67.3
typing_extensions @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/typing_extensions/typing_extensions-4.4.0
ujson @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/ujson/ujson-5.5.0
urllib3 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/urllib3/urllib3-1.26.12
virtualenv @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/virtualenv/virtualenv-20.16.6
wcwidth @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/wcwidth/wcwidth-0.2.5
webencodings @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/webencodings/webencodings-0.5.1
xlrd @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/xlrd/xlrd-2.0.1
zipfile36 @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/zipfile36/zipfile36-0.1.3
zipp @ file:///tmp/baum/easybuild/Python/3.10.8/GCCcore-12.2.0/zipp/zipp-3.10.0
